apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: plane
  namespace: argocd
spec:
  project: default
  ignoreDifferences:
    - group: batch
      kind: job
      jsonPointers:
        - /spec/template
  source:
    repoURL: https://helm.plane.so/
    chart: plane-ce
    targetRevision: 1.4.1
    helm:
       values: |
        ingress:
          enabled: false
          ingressClass: "traefik"
          appHost: "plane.homelab"
          minioHost: "plane-minio.homelab"

        postgres:
          storageClass: "local-path"

        redis:
          storageClass: "local-path"

        minio:
          storageClass: "local-path"

  destination:
    server: https://kubernetes.default.svc
    namespace: plane
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

