apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: plane
  namespace: argocd
spec:
  project: default
  ignoreDifferences:
    - group: batch
      kind: job
      jsonPointers:
        - /spec/template
  source:
    repoURL: https://helm.plane.so/
    chart: plane-ce
    targetRevision: 1.4.1
    helm:
       values: |
        ingress:
          enabled: true
          ingressClass: "traefik"
          classname: traefik

            hosts:
            - host: plane.homelab
              paths:
                - path: /
                  pathType: Prefix
                  service:
                    name: plane-app-web
                    port: 3000

                - path: /god-mode
                  pathType: Prefix
                  service:
                    name: plane-app-admin
                    port: 3000

                - path: /spaces
                  pathType: Prefix
                  service:
                    name: plane-app-space
                    port: 3000

                - path: /live
                  pathType: Prefix
                  service:
                    name: plane-app-live
                    port: 3000

                - path: /api
                  pathType: Prefix
                  service:
                    name: plane-app-api
                    port: 8000

                - path: /auth
                  pathType: Prefix
                  service:
                    name: plane-app-api
                    port: 8000

                - path: /uploads
                  pathType: Prefix
                  service:
                    name: plane-app-minio
                    port: 9000

        postgres:
          storageClass: "local-path"

        redis:
          storageClass: "local-path"

        minio:
          storageClass: "local-path"

  destination:
    server: https://kubernetes.default.svc
    namespace: plane
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

    syncOptions:
      - Replace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true

    ignoreDifferences:
      - group: batch
        kind: Job
        jqPathExpressions:
          - .spec.template

