planeVersion: "v1.4.1"

ingress:
i  enabled: true
  ingressClass: "traefik"
  appHost: "plane.homelab"
  minioHost: "plane-minio.homelab"


postgres:
  storageClass: "local-path"

redis:
  storageClass: "local-path"

minio:
  storageClass: "local-path"
  
